//loading animate
@keyframes boule {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    height: 20px;
    width: 20px;
    opacity: 1;
  }
  100% {
    left: 300px;
    opacity: 0;
    height: 10px;
    width: 10px;
  }
}

@-webkit-keyframes boule {
  0% {
    left: 10px;
    opacity: 0;
  }
  50% {
    height: 20px;
    width: 20px;
    opacity: 1;
  }
  100% {
    left: 300px;
    opacity: 0;
    height: 10px;
    width: 10px;
  }
}

//end loading animate

.game__main-title__logo.bump-in {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);


  -webkit-transition: all 0.5s cubic-bezier(.17,.67,.53,1.51);
  -moz-transition: all 0.5s cubic-bezier(.17,.67,.53,1.51);
  -ms-transition: all 0.5s cubic-bezier(.17,.67,.53,1.51);
  -o-transition: all 0.5s cubic-bezier(.17,.67,.53,1.51);
  transition: all 0.5s cubic-bezier(.17,.67,.53,1.51);
}

.game__main-title__loading.bump-out {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);


  -webkit-transition: all 0.5s cubic-bezier(.59,-0.59,.83,.67);
  -moz-transition: all 0.5s cubic-bezier(.59,-0.59,.83,.67);
  -ms-transition: all 0.5s cubic-bezier(.59,-0.59,.83,.67);
  -o-transition: all 0.5s cubic-bezier(.59,-0.59,.83,.67);
  transition: all 0.5s cubic-bezier(.59,-0.59,.83,.67);
}