.game__game {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.game__game__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.game__game__animation-shell {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.game__game__characters {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.game__game__character {
  position: absolute;
  width: 100%;
  height: 100%;
}
.game__game__character__body,
.game__game__character__head {
  position: absolute;
  left: 0;
  top: 100px;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 0;
  -webkit-transform-origin: top left;
}
.game__game__character__face {
  position: absolute;
  bottom: 0;
  left: 150px;
  margin: 0;
}
.game__game__dialogue-box {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.game__game__dialogue-box__name {
  margin-top: 770px;
  margin-left: 535px;
  color: white;
  font-size: 52px;
  width: 600px;
  height: 20px;
  text-shadow: 2px 2px 5px #000;
}
.game__game__dialogue-box__dialogue {
  margin-top: 49px;
  margin-left: 536px;
  color: white;
  font-size: 45px;
  width: 1250px;
  height: 150px;
  text-shadow: 2px 2px 5px #000;
}
.game__game__menu {
  position: absolute;
  left: 570px;
  bottom: 7px;
  width: 1130px;
  margin-top: 10px;
  margin-bottom: 37px;
  background: url("../assets/parts/frame/FRM_0104.png") no-repeat;
  background-size: 100% 100%;
  z-index: 3;
}
.game__game__menu-item {
  display: inline-block;
  width: 71px;
  height: 40px;
  transform: scale(2);
  -ms-transform: scale(2);
  /* IE 9 */
  -webkit-transform: scale(2);
  /* Safari 和 Chrome */
  -moz-transform: scale(2);
  /* Firefox */
  -o-transform: scale(2);
  /* Opera */
  margin-bottom: 20px;
}
.game__game__menu-item:nth-of-type(1) {
  margin-left: 150px;
  background: url("../assets/parts/frame/FRM_0111.png") no-repeat;
}
.game__game__menu-item:nth-of-type(2) {
  margin-left: 130px;
  background: url("../assets/parts/frame/FRM_0112.png") no-repeat;
}
.game__game__menu-item:nth-of-type(3) {
  margin-left: 130px;
  background: url("../assets/parts/frame/FRM_0117.png") no-repeat;
}
.game__game__menu-item:hover {
  background-position-x: -75px;
}
.game__game__selection {
  position: absolute;
  left: 434px;
  top: 100px;
  z-index: 4;
}
.game__game__selection__item {
  width: 700px;
  height: 100px;
  background: url("../assets/parts/frame/FRM_0131.png") no-repeat;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 和 Chrome */
  -moz-transform: scale(1.5);
  /* Firefox */
  -o-transform: scale(1.5);
  /* Opera */
  margin-top: 32px;
}
.game__game__selection__item:hover {
  background-position-x: -710px;
}
.game__game__selection__item__text {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 120px;
  text-shadow: 2px 2px 2px #000;
}
