
<div class="game__main-title">
    <img class="game__main-title__background" src="assets/parts/bg/main-title-background.png"/>
    <img class="game__main-title__logo" src="assets/parts/frame/FRM_0505.png" alt="">
    <div class="game__main-title__loading">
        <div class="game__main-title__loading__ball"></div>
        <div class="game__main-title__loading__text">
            <p>LOADING...{{percent}}%</p>
        </div>
    </div>
    <ul class="game__main-title__menu">
        <li class="game__main-title__menu__item" ng-click="start()" ng-mouseenter="backgroundAnimate(1)"></li>
        <li class="game__main-title__menu__item" ng-click="continue()" ng-mouseenter="backgroundAnimate(2)"></li>
        <li class="game__main-title__menu__item" ng-mouseenter="backgroundAnimate(3)"></li>
    </ul>
    <div class="game__main-title__black-bar"></div>
</div>